.playgroud {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  * {
    margin: 8px;
    flex: 1;
  }
  * {
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #fff;
  }

  .card-sample {
    display: block;
    flex-direction: row;
    margin-top: 30vh;
    width: 100%;
    padding: 8px;
    height: 100vh;
  }
}
