.playgroud {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  .card-sample {
    display: flex;
    felx-wrap: nowrap;
    flex-direction: column;
    width: 100vw;
    padding: 8px;
    height: 100vh;
    margin: 30vh auto;
    gap: 4;

    .react-cupertino-ui-card {
      margin: 8px;
      width: 80%;

      .variant-secondary {
        border-radius: 2rem;
        box-shadow: 1px 2px 3px 1px var(--color-blue);
      }
    }
  }
}
